#Server 
PORT=3000

# MongoDB 
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<dbname>

#  Clerk Authentication API Keys 
CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxx
CLERK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxx

#  Clerk Webhook Secret 
# Note: Has to be exactly this key for @clerk/express to work automatically
CLERK_WEBHOOK_SIGNING_SECRET=whsec_xxxxxxxxxxxxxxxxxxxx

# USDA Nutrition API
USDA_API_KEY=your_usda_api_key_here
